body {
    background-color: rgb(254, 216, 160);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Segoe UI;
    color: black;   
}

h2 {
    text-align: center;
    font-size: 75px;
    font-family: Segoe UI;
    color: black;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-family: Segoe UI;
    color: black;
}

p {
    
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: bold;
    color: black;
}

#html-cart-table {
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    font-family: Segoe UI;
    font-weight: bold;
    color: black;
}

#html-cart-table tr td {

    height: 25px;
    
}

#html-cart-table>tr:nth-child(1) {
    background-color: burlywood;
}

#html-cart-table>tr:nth-child(even) {
    background-color: white;
}

.menuImage {  
    border: 10px solid white;
    border-radius: 8px; 
    width: 300px;   
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 15px;
    border-color:white;
    color: #ff8800;
}
input[type=text]:focus, input[type=password]:focus {
    width: 50%;
    padding: 12px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 15px;
    border-color:white;
    background-color: white;
    color: #ff8800;
}


input[type=submit] {
    text-align:center;
    width: 15%;
    padding: 12px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 15px;
    border-color:#ff8800;
    color: #ff8800;
    transition: all 0.5s;
    cursor: pointer;
}

button {
    display: inline-block;
        background-color: white;
        border-radius: 10px;
        border: 4px double #ff8800;
        color: black;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
}

#completedBtn {
    display: inline-block;
        background-color: #4e4b48;
        border-radius: 10px;
        border: 4px double #ff8800;
        color: black;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 1px;
}

button span, input[type=submit] span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after, input[type=submit] span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover, input[type=submit]:hover {
    background-color: orange;
    color: white;
}
#home:hover{
    cursor:pointer;
}
button:hover span, input[type=submit]:hover span {
    padding-right: 25px;
}

button:hover span:after, input[type=submit]:hover span:after {
    opacity: 1;
    right: 0;
}