* {
    margin: unset;
    padding: unset;
    background-color: #EDF0EB;

}

.menuBtn1 {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 5px double black;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    align-items: center;
    font-family: monospace;
    transition: background-color 1s;
}

.menuBtn1:hover {
    background-color: lightgreen;
}

.image {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 5px double black;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    align-items: center;
    font-family: monospace;
}

.rowStyling {
    background-color: white;
    border-radius: 10px;
    border: 5px double black;
    align-items: center;
}

.menuTxt {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.menuTxtPadded {
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

*:focus {
    outline: none;
}



.top-head-left {
    background-position: 0px -22.5px;
    background-size: 137px 137px;
    background-repeat: no-repeat;
    border-radius: 8px;
    opacity: 1;
    border: 0px;
}

.top-head-right {
    background-position: 22px 0px;
    background-size: 137px 137px;
    background-repeat: no-repeat;
    border-radius: 8px;
    opacity: 1;
    border: 0px;
}

.front-heading {
    padding-top: 50px;
    padding-bottom: 30px;
    overflow: hidden;
    white-space: pre-wrap;
    width: 255px;
    height: 126px;
    margin: 0px;
    color: rgb(24, 32, 74);
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 42px;
    text-align: center;
    text-transform: none;
    opacity: 1;
}

.search-bar {
    display: block;
    outline: none;
    width: 343px;
    height: 48px;
    color: rgb(168, 168, 168);
    background-color: rgb(255, 255, 255);
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: none;
    line-height: 48px;
    padding: 0px 10px;
    border-radius: 8px;
    opacity: 1;
    border: 0px;
    pointer-events: auto;
}

.search-btn {
    position: relative;
    display: block;
    text-align: center;
    padding: 0px;
    overflow: hidden;
    cursor: inherit;
    width: 32px;
    height: 32px;
    color: rgb(24, 32, 74);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    opacity: 1;
    border: 0px;
}

.hiw-text {
    overflow: hidden;
    white-space: pre-wrap;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(24, 32, 74);
    font-family: Poppins;
    font-weight: 100;
    font-size: 32px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: none;
    opacity: 1;
}

.rwu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 70px;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    cursor: inherit;
    width: 133px;
    height: 48px;
    color: rgb(24, 32, 74);
    background-color: rgba(237, 240, 235, 0);
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: none;
    line-height: 24px;
    padding: 0px 10px;
    border-radius: 8px;
    opacity: 1;
    border: 1px solid rgb(24, 32, 74);
}



.menu-btm1 {
    display: flex;
    flex-direction: row;
    position: fixed;
    
   
    
    border-width: 50%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    
    border-top: 20px;
    opacity: 1;

}






.menu-btm {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
   
    border-width: 50%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    
    border-top: 20px;
    opacity: 1;

}


.menu-icon {
    height: 30px;
    background-color: antiquewhite;
    
}

.menu-txt {
  
    font-weight: bold;
}

.button {
    border: 0px;
    outline: none;
}